body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-one {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  border: 1px solid #000;
}

/* header */

.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.container-header {
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-piece-logo {
  color: #2e2f42;
}

/* header-menu-list */

.header-menu-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-menu-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-menu-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-menu-nav:hover,
.header-menu-nav:focus {
  color: #404bbf;
}

.header-menu-nav:focus {
  color: #404bbf;
}

.header-contact-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-adress {
  font-style: normal;
  margin-left: auto;
}

.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: #404bbf;
}

/* main-section-one */

.main-general-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button {
  display: block;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* main-section-two */

.main-advantages-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.main-advantages-item {
  width: calc((100% - 24px * 3) / 4);
}

.main-title-advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.main-advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* main-section-three */

.main-third-section {
  background: #f4f4fd;
}

.main-section-three {
  background-color: #f4f4fd;
}

.main-third-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.main-team-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.main-team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: calc((100% - 3 * 24px) / 4);
}

.main-team-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-team-user {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.main-team-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* main-section-fourth */

.main-section-fourth {
  background-color: #fff;
}

.main-title-fourth {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.main-portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.main-portfolio-item {
  background-color: #fff;
  width: calc((100% - 2 * 24px) / 3);
}

.main-portfolio-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.main-portfolio-app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.main-portfolio-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}

.footer-piece-logo {
  color: #f4f4fd;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
